.jobsListContainer {
  margin: 0 9.5rem 3rem 9.5rem;
}

.jobSectionTitle,
.jobAreaTitle {
  color: #827873;
}

.jobSectionTitle {
  margin: 3.5rem 0;
  text-align: center;
}

.jobAreaTitle {
  margin-bottom: 2rem;
}