.valuesSectionContainer {
  margin: 5rem 10rem;
}

.valuesSectionList,
.moreInformation {
  display: flex;
}

.valuesSectionList {
  justify-content: space-between;
}

.moreInformation {
  flex-direction: column;
  justify-content: center;
}