.valuesSectionContainer {
  margin: 5rem 0;
  width: 80%;
}

.valuesSectionList,
.moreInformation {
  display: flex;
}

.valuesSectionList {
  justify-content: space-between;
}

.moreInformation {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 899px) {
  .valuesSectionList {
    flex-direction: column;
    align-items: center;
  }

  .valuesSectionContainer {
    margin: 2rem 0;
  }
}