.videoSectionContainer,
.contentContainer {
  display: flex;
}

.videoSectionContainer {
  background-color: #f8f8f8;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}

.contentContainer {
  width: 80%;
  flex-direction: row;
}

.videoSnapshot {
  width: 60%;
  margin-right: 2rem;
  object-fit: scale-down;
}

.videoTitle {
  color: #827873;
  margin-bottom: 0.4rem;
}

.videoSubtitle {
  color: #fab02c;
  font-weight: 600;
  font-style: italic;
  margin-top: 1.1rem;
}

.videoDescription {
  margin-top: 2rem;
  text-align: justify;
}

@media (max-width: 899px) {
  .contentContainer {
    flex-direction: column;
  }

  .videoSnapshot {
    margin-right: 0;
    margin-bottom: 2rem;
    width: 100%;
    object-fit: cover;
  }

  .videoSectionContainer {
    padding: 2rem 0;
  }
}

@media (max-width: 424px) {
  .videoSectionContainer {
    padding: 1.5rem 0;
  }
}