.staffSectionContainer,
.staffPhotosContainer {
  display: flex;
}

.staffSectionContainer {
  background-color: #f8f8f8;
  flex-direction: column;
  align-items: center;
}

.staffSectionTitle {
  text-align: center;
  color: #827873;
  width: 18rem;
}

.staffPhotosContainer {
  justify-content: space-between;
  gap: 1rem;
  margin: 3rem 0 5rem 0;
}