.valueItemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  width: 20rem;
}

.valueTitle {
  color: #827873;
  margin: 2rem 0;
}