@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,400&display=swap');

html {
  font-size: 14px;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: #9ea1af;
  line-height: 1.5;
  margin: 0;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 426px) {

  p,
  a {
    font-size: 0.8rem;
  }
}