@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,400&display=swap');

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: #9ea1af;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 2;
}

@media screen and (max-width: 426px) {
  p {
    font-size: 0.8rem;
    line-height: 1.5;
  }
}