@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: #827873;
  line-height: 1.6rem;
  margin: 0;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

@media (max-width: 899px) {
  h2 {
    font-size: 1.1rem;
  }

  h3 {
    font-size: 1rem;
  }
}

@media (max-width: 599px) {
  p {
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.9rem;
  }
}